#slikaJedinstvenogModela{
    width: 60vw;
    height: 60vh;
}

#listaBoja, #listaPresvlake, #listaFelne{
    list-style-type: none;
}

#listaBoja li, #listaPresvlake li, #listaFelne li{
    display: inline-block;
    padding: 5px;
}

#listaBoja li img{
    width: 100%;
    height: 100%;
    object-position: 73% 0%;
}

#listaPresvlake li img{
    width: 100%;
    height: 100%;
    
}

#listaFelne li img{
    width: 100%;
    height: 100%;
    object-position: 0% 0%;
}


#listaBoja li img:hover{
    transform: scale(1.12);
    transition: 0.33327s ease-in-out;
}

#listaPresvlake li img:hover{
    transform: scale(1.12);
    transition: 0.33327s ease-in-out;
}

#listaFelne li img:hover{
    transform: scale(1.12);
    transition: 0.33327s ease-in-out;
}

.activeOpcija{
    transform: scale(1.2);
}
